openapi: 3.0.3
info:
  title: SynSigRa SaaS API
  version: 0.1.0
  description: Private-beta API for deterministic synthetic signal QA packages. Synthetic engineering data only; do not submit PHI.
servers:
  - url: http://www.timeonion.com/syn_sig_ra
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: {type: string}
            message: {type: string}
    Job:
      type: object
      required: [job_id, project_id, pack_id, status, created_at]
      properties:
        job_id: {type: string}
        project_id: {type: string}
        pack_id: {type: string}
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
        created_at: {type: string, format: date-time}
        started_at: {type: string, format: date-time}
        completed_at: {type: string, format: date-time}
        package_id: {type: string}
        artifact_status: {type: string, enum: [available, expired]}
paths:
  /healthz:
    get:
      summary: Liveness
      responses:
        '200': {description: Module is serving requests}
  /readyz:
    get:
      summary: Component readiness
      responses:
        '200': {description: DB, generator, catalog, and artifact store are ready}
        '503': {description: One or more components are not ready}
  /v1/packs:
    get:
      summary: List curated versioned packs
      responses:
        '200': {description: Pack catalog}
  /v1/projects:
    get:
      summary: List caller organization projects
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Project list}
        '401': {description: Unauthorized, content: {application/json: {schema: {$ref: '#/components/schemas/Error'}}}}
    post:
      summary: Create project (owner/admin)
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties: {display_name: {type: string, maxLength: 100}}
              additionalProperties: false
      responses:
        '201': {description: Project created}
        '403': {description: Role forbidden}
  /v1/jobs:
    get:
      summary: List jobs
      security: [{bearerAuth: []}]
      parameters:
        - {in: query, name: limit, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
        - {in: query, name: offset, schema: {type: integer, minimum: 0, default: 0}}
      responses:
        '200': {description: Paginated jobs}
    post:
      summary: Create challenge job
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, pack_id]
              properties:
                project_id: {type: string}
                pack_id: {type: string}
                export_formats:
                  type: array
                  items: {type: string, enum: [wfdb, edf, bdf]}
                report_format: {type: string, enum: [html]}
              additionalProperties: false
      responses:
        '202': {description: Job queued}
        '429': {description: Job quota exceeded}
  /v1/jobs/{job_id}:
    parameters:
      - {in: path, name: job_id, required: true, schema: {type: string}}
    get:
      summary: Read job
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Job, content: {application/json: {schema: {$ref: '#/components/schemas/Job'}}}}
        '404': {description: Not found}
    delete:
      summary: Soft-delete non-running job
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Deleted}
        '409': {description: Running job cannot be deleted}
  /v1/jobs/{job_id}/cancel:
    post:
      summary: Cancel queued job
      security: [{bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Cancelled}
        '409': {description: Invalid state}
  /v1/jobs/{job_id}/retry:
    post:
      summary: Retry failed or cancelled job as a new job
      security: [{bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '202': {description: New job queued}
        '409': {description: Invalid state}
  /v1/artifacts/{package_id}/{filename}:
    get:
      summary: Download immutable manifest or ZIP
      security: [{bearerAuth: []}]
      parameters:
        - {in: path, name: package_id, required: true, schema: {type: string}}
        - {in: path, name: filename, required: true, schema: {type: string, enum: [manifest.json, package.zip]}}
      responses:
        '200': {description: Artifact bytes}
        '404': {description: Missing, expired, or cross-tenant artifact}
  /v1/usage:
    get:
      summary: Caller usage and limits
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Usage summary}
  /v1/metrics:
    get:
      summary: Owner/admin operational metrics
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Operational counters and worker heartbeat}
        '403': {description: Role forbidden}
  /v1/scenarios:
    get:
      summary: List caller-owned scenario drafts
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Scenario draft list}
    post:
      summary: Validate and create an editable scenario draft
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scenario]
              properties:
                name: {type: string, maxLength: 100}
                scenario: {type: object}
              additionalProperties: false
      responses:
        '201': {description: Valid draft saved with fingerprint}
        '422': {description: Invalid draft saved with actionable validation errors}
  /v1/scenarios/{scenario_id}:
    parameters:
      - {in: path, name: scenario_id, required: true, schema: {type: string}}
    get:
      summary: Read caller-owned scenario draft
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Scenario draft}
        '404': {description: Missing or owned by another user}
    put:
      summary: Replace and revalidate scenario draft
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Valid draft updated}
        '422': {description: Invalid draft updated with validation errors}
    delete:
      summary: Delete scenario draft
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Draft deleted}
        '404': {description: Missing or owned by another user}
