openapi: 3.0.3
info:
  title: Synsigra SaaS API
  version: 0.3.0
  description: Complete private-beta API for deterministic synthetic biosignal challenge generation, bounded waveform viewing, algorithm-submission verification, owned authoring resources, and a stateless Streamable HTTP MCP adapter. The live authoring endpoints expose the core's dynamic field and template catalogs. Synthetic engineering data only; do not submit PHI. The generator is server-only; users receive challenge artifacts and the generator-free verifier.
servers:
  - url: https://www.timeonion.com/syn_sig_ra
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    cookieAuth:
      type: apiKey
      in: cookie
      name: syn_sig_ra_session
  schemas:
    Account:
      type: object
      required: [user_id, organization_id, email, display_name, role, email_verified]
      properties:
        user_id: {type: string}
        organization_id: {type: string}
        email: {type: string, format: email}
        display_name: {type: string}
        role: {type: string, enum: [owner, admin, developer, viewer]}
        email_verified: {type: boolean}
        email_verified_at: {type: string, format: date-time}
    AccountDeletion:
      type: object
      required: [status, deletion_receipt_id, server_workspace, downloaded_artifacts]
      properties:
        status: {type: string, enum: [deleted]}
        deletion_receipt_id: {type: string}
        server_workspace: {type: string, enum: [deleted, cleanup_requires_operator]}
        downloaded_artifacts: {type: string, enum: [not_revocable]}
    AuditEvent:
      type: object
      required: [id, created_at, event_type, user_id, api_key_id, subject_type, subject_id, details]
      properties:
        id: {type: integer, format: int64}
        created_at: {type: string, format: date-time}
        event_type: {type: string}
        user_id: {type: string}
        api_key_id: {type: string}
        subject_type: {type: string}
        subject_id: {type: string}
        details: {type: object, additionalProperties: true}
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: {type: string}
            message: {type: string}
    AcceptedCore:
      type: object
      required: [integration_contract, version, git_commit, build_identity, cpp_facade, pack_schema_version, challenge_package, scoring_manifest, verification_protocol, submission, submission_formats, measurement_values, measurement_truth, measurement_scoring, local_verification, scenario_authoring, scenario_templates, python_verifier, external_noise_truth, contract_document]
      properties:
        integration_contract: {type: string, enum: [synsigra_core_integration_v7]}
        version: {type: string, enum: [0.10.0-dev]}
        git_commit: {type: string, enum: [a80a06179de8c04fdb59732fa922bfc764549df9]}
        build_identity: {type: string, enum: [signal_synth/a80a06179de8c04fdb59732fa922bfc764549df9]}
        cpp_facade: {type: string, enum: [1.5.0]}
        pack_schema_version: {type: integer, enum: [2]}
        challenge_package: {type: string, enum: [synsigra_challenge_package_v3]}
        scoring_manifest: {type: string, enum: [synsigra_scoring_manifest_v3]}
        verification_protocol: {type: string, enum: [synsigra_verification_protocol_v2]}
        submission: {type: string, enum: [synsigra_submission_v1]}
        submission_formats: {type: string, enum: [synsigra_submission_formats_v2]}
        measurement_values: {type: string, enum: [synsigra_measurement_values_v2]}
        measurement_truth: {type: string, enum: [synsigra_measurement_truth_v2]}
        measurement_scoring: {type: string, enum: [synsigra_measurement_score_v2]}
        local_verification: {type: string, enum: [synsigra_local_verification_v3]}
        scenario_authoring: {type: string, enum: [synsigra_authoring_v18]}
        scenario_templates: {type: string, enum: [synsigra_templates_v5]}
        python_verifier: {type: string, enum: [0.14.0]}
        external_noise_truth: {type: string, enum: [synsigra_external_noise_truth_v1]}
        contract_document:
          type: object
          description: The complete canonical core contract, including supported comparison/interval/delineation/measurement targets, customer output schemas, scenario versions, external-noise policy, HRV measurement metadata, and canonical commands.
          additionalProperties: true
    PackTarget:
      type: object
      required: [target, support, scoreable, score_type, case_count, case_ids]
      properties:
        target: {type: string}
        support: {type: string, example: local_scoring}
        scoreable: {type: boolean}
        score_type: {type: string}
        description: {type: string}
        primary_metric: {type: string}
        case_count: {type: integer}
        case_ids: {type: array, items: {type: string}}
        accepted_formats: {type: array, items: {type: string}}
        reference_artifacts: {type: array, items: {type: string}}
        default_tolerance_seconds: {type: number, nullable: true}
    PackScenario:
      type: object
      required: [scenario_id, targets, scoreable_targets, reference_only_targets]
      properties:
        scenario_id: {type: string}
        targets: {type: array, items: {type: string}}
        scoreable_targets: {type: array, items: {type: string}}
        reference_only_targets: {type: array, items: {type: string}}
        duration_seconds: {type: integer}
        sampling_rate_hz: {type: integer}
        channel_count: {type: integer}
        sample_count: {type: integer, format: int64}
        estimated_package_bytes: {type: integer, format: int64}
        external_noise: {type: boolean}
        external_noise_release_allowed: {type: boolean}
        external_noise_asset_ids: {type: array, items: {type: string}}
    Pack:
      type: object
      required: [pack_id, display_name, version, catalog_version, catalog_source_sha256, release_set_id, targets, scoreable_targets, reference_only_targets, submission_output_schemas, scoring_mode, integration_contract, generator_compatibility, output_artifact_roles, verification_protocol, external_noise]
      properties:
        pack_id: {type: string}
        display_name: {type: string}
        version: {type: string}
        description: {type: string}
        catalog_version: {type: string, enum: ['3.0']}
        catalog_source_sha256: {type: string, enum: ['sha256:4b3481991f2b59c191e48750c33ed353a209538e46ec49b001e24c48c2fff044']}
        release_set_id: {type: string}
        release_status: {type: string, enum: [beta, stable, deprecated]}
        released_at: {type: string, format: date}
        targets: {type: array, items: {type: string}}
        scoring_mode: {type: string, enum: [local, mixed, reference_only]}
        scoreable_targets: {type: array, items: {$ref: '#/components/schemas/PackTarget'}}
        reference_only_targets: {type: array, items: {$ref: '#/components/schemas/PackTarget'}}
        submission_output_schemas:
          type: array
          items:
            type: string
            enum: [point_events_json_v1, point_events_csv_v1, interval_events_json_v1, interval_events_csv_v1, measurement_values_json_v2, measurement_values_csv_v2]
        recommended_profile: {type: string, nullable: true}
        supported_threshold_profiles: {type: array, items: {type: string}}
        recommended_for: {type: array, items: {type: string}}
        not_recommended_for: {type: array, items: {type: string}}
        difficulty: {type: array, items: {type: string}}
        feature_tags: {type: array, items: {type: string}}
        modality: {type: array, items: {type: string}}
        duration:
          type: object
          properties:
            minimum_case_seconds: {type: integer}
            maximum_case_seconds: {type: integer}
            total_seconds: {type: integer}
        sampling_rates_hz: {type: array, items: {type: integer}}
        channels:
          type: object
          properties:
            minimum_channel_count: {type: integer}
            maximum_channel_count: {type: integer}
        estimated_package:
          type: object
          properties:
            bytes: {type: integer, format: int64}
            peak_memory_bytes: {type: integer, format: int64}
            size_class: {type: string}
        scenarios: {type: array, items: {$ref: '#/components/schemas/PackScenario'}}
        scenario_count: {type: integer}
        integration_contract: {type: string, enum: [synsigra_core_integration_v7]}
        generator_compatibility:
          type: object
          required: [local_verifier_min_version, challenge_package_contract, scoring_manifest_contract, submission_contract, verification_protocol_contract, integration_contract]
          properties:
            local_verifier_min_version:
              type: string
              pattern: '^[0-9]+\.[0-9]+\.[0-9]+$'
              description: Oldest verifier release capable of evaluating this individual pack.
            challenge_package_contract: {type: string, enum: [synsigra_challenge_package_v3]}
            scoring_manifest_contract: {type: string, enum: [synsigra_scoring_manifest_v3]}
            submission_contract: {type: string, enum: [synsigra_submission_v1]}
            verification_protocol_contract: {type: string, enum: [synsigra_verification_protocol_v2]}
            integration_contract: {type: string, enum: [synsigra_core_integration_v7]}
        output_artifact_roles: {type: array, items: {type: string}}
        primary_badges: {type: array, items: {type: string}}
        changelog:
          type: array
          items:
            type: object
            properties:
              version: {type: string}
              date: {type: string, format: date}
              summary: {type: string}
        deprecation_message: {type: string}
        pack_fingerprint: {type: string}
        verification_protocol:
          type: object
          required: [available, contract, sha256, document]
          properties:
            available: {type: boolean}
            contract: {type: string, enum: [synsigra_verification_protocol_v2]}
            sha256: {type: string}
            document: {type: object, nullable: true, additionalProperties: true}
        external_noise:
          type: object
          required: [used, release_allowed, asset_ids]
          properties:
            used: {type: boolean}
            release_allowed: {type: boolean, enum: [true]}
            asset_ids: {type: array, items: {type: string}}
    ChallengeMetadata:
      type: object
      required: [schema_version, contract, verifier_version, challenge_contract, package_id, pack_version, pack_fingerprint, generator_version, generator_git_commit, scoring_manifest_contract, submission_contract, submission_formats_contract, measurement_values_contract, measurement_truth_contract, measurement_scoring_contract, local_verification_contract, case_count, targets, cases, submission_outputs, submission_formats, verification_protocol, verification, external_noise, roles, integrity]
      properties:
        schema_version: {type: integer, enum: [1]}
        contract: {type: string, enum: [synsigra_saas_challenge_metadata_v1]}
        verifier_version: {type: string, enum: [0.14.0]}
        challenge_contract: {type: string, enum: [synsigra_challenge_package_v3]}
        package_id:
          type: string
          description: Core challenge identity from manifest.json; this is not the SaaS pkg_ artifact identifier.
        name: {type: string}
        pack_version: {type: string}
        pack_fingerprint: {type: string}
        generator_version: {type: string, enum: [0.10.0-dev]}
        generator_git_commit: {type: string, enum: [a80a06179de8c04fdb59732fa922bfc764549df9]}
        scoring_manifest_contract: {type: string, enum: [synsigra_scoring_manifest_v3]}
        submission_contract: {type: string, enum: [synsigra_submission_v1]}
        submission_formats_contract: {type: string, enum: [synsigra_submission_formats_v2]}
        measurement_values_contract: {type: string, enum: [synsigra_measurement_values_v2]}
        measurement_truth_contract: {type: string, enum: [synsigra_measurement_truth_v2]}
        measurement_scoring_contract: {type: string, enum: [synsigra_measurement_score_v2]}
        local_verification_contract: {type: string, enum: [synsigra_local_verification_v3]}
        case_count: {type: integer, minimum: 1}
        targets: {type: array, items: {type: object, additionalProperties: true}}
        cases: {type: array, items: {type: object, additionalProperties: true}}
        submission_outputs:
          type: array
          description: Authoritative editable algorithm-output templates selected by manifest role; never infer filenames.
          items:
            type: object
            required: [case_id, target, format, path]
            properties:
              case_id: {type: string}
              target: {type: string}
              format: {type: string}
              path: {type: string}
        submission_formats: {type: object, additionalProperties: true}
        verification_protocol: {type: object, nullable: true, additionalProperties: true}
        verification:
          type: object
          description: Package-derived local-verification state. SaaS indexes it but never recomputes local scoring or policy outcomes.
          required: [mode, evidence_eligible, matrix_complete, evidence_result, policy_result, notice, protocol]
          properties:
            mode: {type: string, enum: [evidence, diagnostic]}
            evidence_eligible: {type: boolean}
            matrix_complete: {type: boolean, nullable: true}
            evidence_result: {type: string, enum: [not_run]}
            policy_result: {type: string, enum: [not_run]}
            notice: {type: string}
            protocol:
              type: object
              nullable: true
              properties:
                protocol_id: {type: string}
                contract: {type: string, enum: [synsigra_verification_protocol_v2]}
                path: {type: string}
                size_bytes: {type: integer, format: int64}
                sha256: {type: string, pattern: '^sha256:[0-9a-f]{64}$'}
                context_of_use: {type: string}
                scoring_contract: {type: string, enum: [synsigra_local_verification_v3]}
                acceptance_profile_id: {type: string}
                required_case_target_count: {type: integer, minimum: 1}
                evidence_boundary: {type: string}
        external_noise:
          type: object
          description: Release-gate result and content identities for approved private noise inputs; source bytes are never included.
          required: [used, release_allowed, assets, truth_paths]
          properties:
            used: {type: boolean}
            release_allowed: {type: boolean, enum: [true]}
            assets:
              type: array
              items:
                type: object
                required: [asset_id, content_sha256, redistribution, source_uri, license]
                properties:
                  asset_id: {type: string}
                  content_sha256: {type: string, pattern: '^sha256:[0-9a-f]{64}$'}
                  redistribution: {type: string, enum: [rendered_output, source_and_output]}
                  source_uri: {type: string}
                  license: {type: string}
            truth_paths: {type: array, items: {type: string}}
        roles:
          type: object
          additionalProperties: {type: array, items: {type: string}}
        integrity:
          type: object
          required: [ok]
          properties:
            ok: {type: boolean, enum: [true]}
          additionalProperties: true
    Job:
      type: object
      required: [job_id, project_id, pack_id, pack_version, status, created_at]
      properties:
        job_id: {type: string}
        project_id: {type: string}
        pack_id: {type: string}
        pack_version: {type: string}
        catalog:
          type: object
          description: Present for curated jobs; omitted for immutable custom-pack snapshots.
          required: [version, source_sha256]
          properties:
            version: {type: string, enum: ['3.0']}
            source_sha256: {type: string, pattern: '^sha256:[0-9a-f]{64}$'}
        status:
          type: string
          enum: [queued, running, succeeded, failed, cancelled]
        created_at: {type: string, format: date-time}
        started_at: {type: string, format: date-time}
        completed_at: {type: string, format: date-time}
        package_id:
          type: string
          description: SaaS artifact identifier used by the package download endpoints.
        artifact_status: {type: string, enum: [available, expired]}
        package_fingerprint: {type: string}
        integration_contract: {type: string, enum: [synsigra_core_integration_v7]}
        generator_version: {type: string}
        generator_git_commit: {type: string}
        generator_build_identity: {type: string}
        generator_binary_sha256: {type: string, pattern: '^sha256:[0-9a-f]{64}$'}
        manifest_url: {type: string}
        archive_url: {type: string}
        challenge: {$ref: '#/components/schemas/ChallengeMetadata'}
        verification_kit_url: {type: string}
        error:
          type: object
          properties:
            code: {type: string}
            message: {type: string}
    SignalViewerChannel:
      type: object
      required: [index, name, unit, gain, adc_zero]
      properties:
        index: {type: integer, minimum: 0}
        name: {type: string}
        unit: {type: string}
        gain:
          type: number
          description: WFDB digital units per physical unit.
        adc_zero: {type: integer}
    SignalViewerCase:
      type: object
      required: [case_id, sample_rate_hz, sample_count, duration_seconds, channels]
      properties:
        case_id: {type: string}
        sample_rate_hz: {type: number, exclusiveMinimum: 0}
        sample_count: {type: integer, format: int64, minimum: 1}
        duration_seconds: {type: number, exclusiveMinimum: 0}
        channels:
          type: array
          minItems: 1
          items: {$ref: '#/components/schemas/SignalViewerChannel'}
    SignalViewerSource:
      type: object
      required: [schema_version, job_id, package_id, cases, capabilities]
      properties:
        schema_version: {type: integer, enum: [1]}
        job_id: {type: string}
        package_id: {type: string}
        cases:
          type: array
          minItems: 1
          items: {$ref: '#/components/schemas/SignalViewerCase'}
        capabilities:
          type: object
          required: [transport, window_media_type, maximum_points, aggregation, channel_selection]
          properties:
            transport: {type: string, enum: [binary_http_viewports]}
            window_media_type: {type: string, enum: [application/vnd.synsigra.signal-window.v1]}
            maximum_points: {type: integer, example: 16384}
            aggregation: {type: string, enum: [exact_min_max]}
            channel_selection: {type: boolean}
    SignalViewerOverlayItem:
      type: object
      required: [kind, source, label, channel, start_sample, end_sample, interval, count]
      properties:
        kind: {type: string, enum: [artifact, episode, r_peak, beat_class, ecg_fiducial, ppg_onset, ppg_peak, low_perfusion, missing_pulse]}
        source: {type: string, description: Ground-truth provenance such as ground_truth, construction, or measurement.}
        label: {type: string}
        channel: {type: string, description: One channel or a comma-separated affected-channel list.}
        start_sample: {type: integer, format: int64, minimum: 0}
        end_sample: {type: integer, format: int64, minimum: 0}
        interval: {type: boolean}
        value: {type: number, nullable: true, description: Optional semantic value, currently artifact severity.}
        count: {type: integer, minimum: 1, description: Number of source point events represented by this item. Values above one indicate a display cluster.}
    SignalViewerOverlayWindow:
      type: object
      required: [schema_version, requested_start_sample, requested_sample_count, source_sample_count, sample_rate_hz, total_matching_items, aggregated, available_kinds, items]
      properties:
        schema_version: {type: integer, enum: [1]}
        requested_start_sample: {type: integer, format: int64, minimum: 0}
        requested_sample_count: {type: integer, format: int64, minimum: 1}
        source_sample_count: {type: integer, format: int64, minimum: 1}
        sample_rate_hz: {type: number, exclusiveMinimum: 0}
        total_matching_items: {type: integer, format: int64, minimum: 0}
        aggregated: {type: boolean}
        available_kinds: {type: array, items: {type: string}}
        items: {type: array, items: {$ref: '#/components/schemas/SignalViewerOverlayItem'}}
    VerifierDownloads:
      type: object
      required: [schema_version, package, version, console_script, generator_included, files]
      properties:
        schema_version: {type: integer}
        package: {type: string, example: synsigra}
        version: {type: string, enum: [0.14.0]}
        core_git_commit: {type: string, enum: [a80a06179de8c04fdb59732fa922bfc764549df9]}
        challenge_contract: {type: string, enum: [synsigra_challenge_package_v3]}
        scoring_manifest_contract: {type: string, enum: [synsigra_scoring_manifest_v3]}
        verification_protocol_contract: {type: string, enum: [synsigra_verification_protocol_v2]}
        submission_contract: {type: string, enum: [synsigra_submission_v1]}
        submission_formats_contract: {type: string, enum: [synsigra_submission_formats_v2]}
        measurement_values_contract: {type: string, enum: [synsigra_measurement_values_v2]}
        measurement_truth_contract: {type: string, enum: [synsigra_measurement_truth_v2]}
        measurement_scoring_contract: {type: string, enum: [synsigra_measurement_score_v2]}
        local_verification_contract: {type: string, enum: [synsigra_local_verification_v3]}
        console_script: {type: string, example: synsigra-verify}
        generator_included: {type: boolean, example: false}
        generated_at: {type: string, format: date-time}
        files:
          type: array
          items:
            type: object
            properties:
              label: {type: string}
              filename: {type: string}
              versioned_filename: {type: string}
              content_type: {type: string}
              sha256: {type: string}
              description: {type: string}
        install: {type: array, items: {type: string}}
        verify_example: {type: string}
paths:
  /mcp:
    post:
      summary: Call the Synsigra Streamable HTTP MCP server
      description: Stateless JSON-RPC MCP endpoint with tools for goal-based pack recommendation, catalog/project/job access, custom scenario and pack authoring, generation, exact rebuild, and local verification guidance. Only personal Bearer API keys are accepted. Send both application/json and text/event-stream in Accept. The current server negotiates MCP 2025-11-25, 2025-06-18, or 2025-03-26 and returns one application/json response per request.
      security: [{bearerAuth: []}]
      parameters:
        - in: header
          name: Accept
          required: true
          schema: {type: string, example: 'application/json, text/event-stream'}
        - in: header
          name: MCP-Protocol-Version
          required: false
          schema: {type: string, enum: ['2025-11-25', '2025-06-18', '2025-03-26']}
        - in: header
          name: Origin
          required: false
          schema: {type: string, format: uri, example: 'https://www.timeonion.com'}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: One JSON-RPC 2.0 MCP request, notification, or response. Batch payloads are not accepted.
              additionalProperties: true
      responses:
        '200': {description: JSON-RPC result or error}
        '202': {description: Notification accepted without a response body}
        '400': {description: Invalid JSON-RPC payload or unsupported protocol-version header}
        '401': {description: Missing, malformed, or revoked personal API key}
        '403': {description: Invalid Origin header}
        '406': {description: Accept does not advertise both required transport media types}
        '415': {description: Content-Type is not application/json}
    get:
      summary: Probe optional MCP server-to-client streaming
      description: This stateless server deliberately provides no standalone SSE stream.
      security: [{bearerAuth: []}]
      responses:
        '405': {description: SSE stream not offered; use POST}
  /openapi.yaml:
    get:
      summary: Download this complete live machine-readable API contract
      description: The document is embedded from the same repository revision as the running Apache module. Dynamic signal-authoring fields, enum catalogs, templates, and target requirements are exposed by the authenticated authoring endpoints referenced below.
      responses:
        '200':
          description: OpenAPI 3.0 YAML
          content:
            application/yaml:
              schema: {type: string}
        '405': {description: Method not allowed}
  /v1/legal:
    get:
      summary: Current private-beta legal, support, retention and billing metadata
      responses:
        '200':
          description: Current terms version and public legal/support destinations
          content:
            application/json:
              schema:
                type: object
                required: [terms_version, terms_url, privacy_url, support_url, support_email, privacy_email, operator_name, operator_address, demo_url, billing_status, uptime_sla, artifact_retention_days]
                properties:
                  terms_version: {type: string, example: private-beta-2026-07-17-r4}
                  terms_url: {type: string}
                  privacy_url: {type: string}
                  support_url: {type: string, format: uri}
                  support_email: {type: string, format: email, example: synsigra@gmail.com}
                  privacy_email: {type: string, format: email, example: synsigra@gmail.com}
                  operator_name: {type: string, example: Kis Tamás}
                  operator_address: {type: string, example: '2040 Budaörs, Tátra u. 6, Hungary'}
                  demo_url: {type: string, format: uri}
                  billing_status: {type: string, enum: [free_beta]}
                  uptime_sla: {type: string, nullable: true}
                  artifact_retention_days: {type: integer, example: 7}
  /healthz:
    get:
      summary: Liveness
      responses:
        '200': {description: Module is serving requests}
  /readyz:
    get:
      summary: Component readiness
      responses:
        '200':
          description: DB, exact linked/CLI core identity, catalog, and artifact store are ready. `accepted_core.contract_document` is the complete canonical core capability contract.
          content:
            application/json:
              schema:
                type: object
                required: [status, database, generator, accepted_core, pack_catalog, artifact_store, generation_capacity]
                properties:
                  status: {type: string, enum: [ready]}
                  database: {type: boolean, enum: [true]}
                  generator: {type: boolean, enum: [true]}
                  accepted_core: {$ref: '#/components/schemas/AcceptedCore'}
                  pack_catalog: {type: boolean, enum: [true]}
                  artifact_store: {type: boolean, enum: [true]}
                  generation_capacity: {type: boolean, enum: [true]}
                  disk_free_bytes: {type: integer, format: int64}
                  disk_reserve_bytes: {type: integer, format: int64}
        '503': {description: One or more components are not ready}
  /v1/packs:
    get:
      summary: List curated versioned packs
      responses:
        '200':
          description: Rich curated pack catalog with scoreable/reference-only discovery metadata
          content:
            application/json:
              schema:
                type: object
                required: [packs]
                properties:
                  packs:
                    type: array
                    items: {$ref: '#/components/schemas/Pack'}
  /v1/packs/{pack_id}:
    get:
      summary: Read a curated versioned pack
      parameters:
        - {in: path, name: pack_id, required: true, schema: {type: string}}
      responses:
        '200':
          description: Curated pack detail
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Pack'}
        '400': {description: Invalid pack ID}
        '404': {description: Pack not found}
  /v1/downloads/verifier:
    get:
      summary: Read local verifier download metadata
      description: Returns metadata for generator-free Synsigra verifier downloads. The files install synsigra-verify only and do not include signal-synth or generator source.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200':
          description: Verifier download metadata
          content:
            application/json:
              schema: {$ref: '#/components/schemas/VerifierDownloads'}
        '401': {description: Unauthorized}
        '404': {description: Downloads not built or not deployed}
  /v1/downloads/verifier/{filename}:
    get:
      summary: Download local verifier bundle or wheel
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: filename, required: true, schema: {type: string, enum: [metadata.json, synsigra-verifier.zip, synsigra-0.14.0-py3-none-any.whl]}}
      responses:
        '200':
          description: Verifier file bytes
          content:
            application/zip:
              schema: {type: string, format: binary}
            application/octet-stream:
              schema: {type: string, format: binary}
        '401': {description: Unauthorized}
        '404': {description: File not available}
  /v1/authoring/schema:
    get:
      summary: Read core scenario-authoring schema metadata
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Core authoring schema metadata}
        '401': {description: Unauthorized}
  /v1/authoring/templates:
    get:
      summary: Read core scenario templates
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Template catalog with complete valid scenario documents}
        '401': {description: Unauthorized}
  /v1/authoring/preview:
    post:
      summary: Preview a scenario and target set before saving or composing a custom pack
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scenario, targets]
              properties:
                scenario: {type: object}
                targets: {type: array, minItems: 1, items: {type: string}}
              additionalProperties: false
      responses:
        '200': {description: Core pack-analysis preview, including scoreable/reference-only targets and size estimates}
        '422': {description: Scenario JSON failed core validation}
  /v1/authoring/curated-scenarios/{pack_id}/{case_id}:
    get:
      summary: Clone a curated scenario into the draft editor
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: pack_id, required: true, schema: {type: string}}
        - {in: path, name: case_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Curated scenario JSON}
        '404': {description: Pack/case not found}
  /v1/auth/register:
    post:
      summary: Create an account and send an ownership-verification email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, display_name, accept_terms, terms_version]
              properties:
                email: {type: string, format: email}
                password: {type: string, minLength: 12, maxLength: 128}
                display_name: {type: string, minLength: 1, maxLength: 100}
                accept_terms:
                  type: boolean
                  description: Must be true.
                terms_version:
                  type: string
                  enum: [private-beta-2026-07-17-r4]
              additionalProperties: false
      responses:
        '202': {description: Verification required or generic accepted response}
        '400': {description: Invalid account request or current terms were not accepted}
        '503': {description: Transactional email delivery is not configured or temporarily unavailable}
  /v1/auth/verify-email:
    post:
      summary: Verify email ownership and start a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: {type: string, maxLength: 512}
              additionalProperties: false
      responses:
        '200': {description: Verified and signed in, content: {application/json: {schema: {$ref: '#/components/schemas/Account'}}}}
        '400': {description: Invalid or expired single-use token}
        '429': {description: Too many token submissions}
  /v1/auth/resend-verification:
    post:
      summary: Request another email-verification link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: {type: string, format: email}
              additionalProperties: false
      responses:
        '202': {description: Generic accepted response independent of account eligibility}
        '503': {description: Transactional email delivery is unavailable}
  /v1/auth/password-reset/request:
    post:
      summary: Request a forgotten-password email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: {type: string, format: email}
              additionalProperties: false
      responses:
        '202': {description: Generic accepted response independent of account existence}
        '503': {description: Transactional email delivery is unavailable}
  /v1/auth/password-reset/complete:
    post:
      summary: Consume a reset token, change password, and start a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: {type: string, maxLength: 512}
                password: {type: string, minLength: 12, maxLength: 128}
              additionalProperties: false
      responses:
        '200': {description: Password changed and signed in, content: {application/json: {schema: {$ref: '#/components/schemas/Account'}}}}
        '400': {description: Invalid or expired single-use token or invalid password}
        '429': {description: Too many token submissions}
  /v1/auth/login:
    post:
      summary: Start a browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string}
              additionalProperties: false
      responses:
        '200': {description: Signed in, content: {application/json: {schema: {$ref: '#/components/schemas/Account'}}}}
        '401': {description: Invalid email or password}
        '403': {description: Email ownership is not verified}
  /v1/auth/me:
    get:
      summary: Current browser account
      security: [{cookieAuth: []}]
      responses:
        '200': {description: Current account, content: {application/json: {schema: {$ref: '#/components/schemas/Account'}}}}
        '401': {description: No valid browser session}
  /v1/auth/logout:
    post:
      summary: End the browser session
      security: [{cookieAuth: []}]
      responses:
        '200': {description: Signed out}
  /v1/account:
    patch:
      summary: Update the signed-in user's display name
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties:
                display_name: {type: string, minLength: 1, maxLength: 100}
              additionalProperties: false
      responses:
        '200': {description: Updated account, content: {application/json: {schema: {$ref: '#/components/schemas/Account'}}}}
        '400': {description: Invalid display name}
    delete:
      summary: Permanently delete the owner account and its single-member workspace
      description: Requires the current password and exact destructive confirmation. Server-side projects, jobs, packages, scenarios, custom packs, sessions, API keys, legal records, and identifiable audit/security records are removed. Only an anonymous deletion receipt remains. Previously downloaded artifacts cannot be revoked.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, confirmation]
              properties:
                current_password: {type: string, maxLength: 128}
                confirmation: {type: string, enum: [DELETE MY ACCOUNT]}
              additionalProperties: false
      responses:
        '200': {description: Account and workspace deleted, content: {application/json: {schema: {$ref: '#/components/schemas/AccountDeletion'}}}}
        '401': {description: Current password is incorrect}
        '403': {description: Workspace owner role required}
        '409': {description: Workspace has other members or a job is running}
  /v1/account/password:
    post:
      summary: Change password and invalidate all prior browser sessions
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: {type: string, maxLength: 128}
                new_password: {type: string, minLength: 12, maxLength: 128}
              additionalProperties: false
      responses:
        '200': {description: Password changed; cookie clients receive a replacement session}
        '400': {description: Invalid or unchanged password}
        '401': {description: Current password is incorrect}
  /v1/account/export:
    get:
      summary: Download a complete JSON account and workspace export without secrets
      description: Includes profile, projects, current and soft-deleted job metadata, scenarios, custom packs, API-key metadata, legal acceptances, audit history, and deletion-retention behavior. Password credentials, key hashes/secrets, session tokens, and email-action tokens are excluded.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200':
          description: Account export attachment
          content:
            application/json:
              schema: {type: object, additionalProperties: true}
  /v1/projects:
    get:
      summary: List caller organization projects
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Project list}
        '401': {description: Unauthorized, content: {application/json: {schema: {$ref: '#/components/schemas/Error'}}}}
    post:
      summary: Create project (owner/admin)
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties: {display_name: {type: string, maxLength: 100}}
              additionalProperties: false
      responses:
        '201': {description: Project created}
        '403': {description: Role forbidden}
  /v1/api-keys:
    get:
      summary: List personal API keys without secrets
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Personal API keys}
    post:
      summary: Create a personal API key; secret is returned once
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: {type: string, minLength: 1, maxLength: 100}
              additionalProperties: false
      responses:
        '201': {description: API key metadata and one-time secret}
  /v1/api-keys/{api_key_id}:
    delete:
      summary: Revoke an owned personal API key
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: api_key_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Revoked}
        '404': {description: Key not found}
  /v1/api-keys/{api_key_id}/rotate:
    post:
      summary: Atomically replace an owned active personal API key; replacement secret is returned once
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: api_key_id, required: true, schema: {type: string}}
      responses:
        '201': {description: Replacement key metadata and one-time secret; prior key is revoked}
        '404': {description: Active key not found}
  /v1/audit-events:
    get:
      summary: Export organization audit events (owner/admin)
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: query, name: limit, schema: {type: integer, minimum: 1, maximum: 1000, default: 100}}
        - {in: query, name: offset, schema: {type: integer, minimum: 0, default: 0}}
        - {in: query, name: format, schema: {type: string, enum: [json, csv], default: json}}
      responses:
        '200':
          description: Organization-scoped audit page or CSV attachment
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_events: {type: array, items: {$ref: '#/components/schemas/AuditEvent'}}
                  count: {type: integer}
                  limit: {type: integer}
                  offset: {type: integer}
                  next_offset: {type: integer}
            text/csv:
              schema: {type: string}
        '403': {description: Owner/admin role required}
  /v1/jobs:
    get:
      summary: List jobs
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: query, name: limit, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
        - {in: query, name: offset, schema: {type: integer, minimum: 0, default: 0}}
      responses:
        '200': {description: Paginated jobs}
    post:
      summary: Create challenge job
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, pack_id]
              properties:
                project_id: {type: string}
                pack_id: {type: string}
              additionalProperties: false
      responses:
        '202': {description: Job queued}
        '429': {description: Job quota exceeded}
        '507': {description: Generation paused to preserve disk reserve}
  /v1/jobs/{job_id}:
    parameters:
      - {in: path, name: job_id, required: true, schema: {type: string}}
    get:
      summary: Read job
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Job, content: {application/json: {schema: {$ref: '#/components/schemas/Job'}}}}
        '404': {description: Not found}
    delete:
      summary: Soft-delete non-running job
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Deleted}
        '409': {description: Running job cannot be deleted}
  /v1/jobs/{job_id}/cancel:
    post:
      summary: Cancel queued job
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Cancelled}
        '409': {description: Invalid state}
  /v1/jobs/{job_id}/retry:
    post:
      summary: Retry failed or cancelled job as a new job
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '202': {description: New job queued}
        '409': {description: Invalid state}
  /v1/jobs/{job_id}/rebuild:
    post:
      summary: Queue an exact-version rebuild for an expired succeeded job
      description: Uses the immutable pack recipe and SHA-256-addressed historical generator release. A newer generator is never substituted and a package fingerprint mismatch fails the new job.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '202': {description: Exact-version rebuild queued as a new job}
        '409': {description: Invalid state, recipe unavailable, or historical generator unavailable}
        '507': {description: Rebuild paused to preserve disk reserve}
  /v1/jobs/{job_id}/verification-kit.zip:
    get:
      summary: Download the single generator-free verification kit for a curated or custom job
      description: Returns verification-kit v2. After one unzip it contains the immutable integrity-protected `challenge/`, a role-selected editable `submission/`, exact README command, engineering claim boundary, and normalized challenge metadata. A protocol-v2 package runs `synsigra-verify challenge submission verification-results --force` in package-authoritative evidence mode; a package without protocol v2 uses explicit diagnostic mode and is never evidence-eligible. There is no nested package ZIP and no filename guessing. The kit does not include the generator or verifier wheel. Single byte ranges and browser resume are supported; multipart ranges are rejected. Concurrent first downloads converge on one checksum-addressed cached artifact.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
        - {in: header, name: Range, required: false, schema: {type: string}, example: 'bytes=1048576-'}
      responses:
        '200':
          description: Verification kit ZIP
          headers:
            Accept-Ranges: {schema: {type: string, enum: [bytes]}}
            ETag: {schema: {type: string}, description: Stable strong SHA-256 ETag}
            X-Checksum-SHA256: {schema: {type: string, pattern: '^[0-9a-f]{64}$'}}
            X-Artifact-Expires-At: {schema: {type: string, format: date-time}}
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '206': {description: Requested byte range with Content-Range and the immutable artifact headers}
        '416': {description: Invalid, multipart, or unsatisfiable byte range}
        '404': {description: Job or artifact not found}
        '409': {description: Job not succeeded, artifacts expired, or the rendered challenge fails strict v3 integrity/role/contract validation}
        '507': {description: Derived-kit creation paused to preserve disk reserve}
    head:
      summary: Read verification-kit size, checksum, range support, and expiry without a response body
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '200':
          description: Verification-kit metadata
          headers:
            Content-Length: {schema: {type: integer, format: int64}}
            Accept-Ranges: {schema: {type: string, enum: [bytes]}}
            ETag: {schema: {type: string}}
            X-Checksum-SHA256: {schema: {type: string, pattern: '^[0-9a-f]{64}$'}}
            X-Artifact-Expires-At: {schema: {type: string, format: date-time}}
  /v1/jobs/{job_id}/viewer:
    get:
      summary: Describe cases and channels available to the signal viewer
      description: Metadata only. The browser fetches signal values separately for the visible viewport, so opening this resource does not download the waveform.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
      responses:
        '200':
          description: Retained viewer source metadata
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SignalViewerSource'}
        '401': {description: Unauthorized}
        '404': {description: Job or retained artifact not found, including cross-organization access}
        '409': {description: Job not completed, artifact expired, or no supported WFDB data is available}
  /v1/jobs/{job_id}/viewer/window:
    get:
      summary: Read a bounded binary signal viewport
      description: Returns only selected channels for the requested time range. At close zoom it reads raw signed 16-bit WFDB samples; at wider zoom it returns exact min/max buckets from a prepared power-of-two pyramid. Response size is bounded by points and channel count, independently of the complete signal file size. HTTP request/response is intentional; clients should cancel obsolete requests while panning instead of opening a WebSocket.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
        - {in: query, name: case_id, required: true, schema: {type: string}}
        - {in: query, name: start_sample, required: false, schema: {type: integer, format: int64, minimum: 0, default: 0}}
        - {in: query, name: sample_count, required: true, schema: {type: integer, format: int64, minimum: 1}}
        - {in: query, name: points, required: false, schema: {type: integer, minimum: 1, maximum: 16384, default: 2048}}
        - in: query
          name: channels
          required: true
          description: Unique zero-based channel indices joined by commas, for example `0,2,3`.
          schema: {type: string}
      responses:
        '200':
          description: Binary v1 viewport. The 80-byte little-endian header contains magic `SYNSIGV1`, version/header/flags, channel and bucket counts, requested start/span, returned data start, samples per bucket, source length, sample rate, and payload offset. It is followed by uint32 channel indices and channel-major int16 min/max pairs.
          content:
            application/vnd.synsigra.signal-window.v1:
              schema: {type: string, format: binary}
        '400': {description: Invalid range, case, points, or channel selection}
        '401': {description: Unauthorized}
        '404': {description: Job or retained artifact not found, including cross-organization access}
        '409': {description: Viewer source unavailable or invalid}
        '503': {description: Viewer source temporarily unreadable}
  /v1/jobs/{job_id}/viewer/overlays:
    get:
      summary: Read bounded ground-truth overlays for a signal viewport
      description: Reads the generator's authoritative R peaks, ECG beat classes, lead-specific ECG delineation fiducials, PPG onset/peak fiducials, artifacts, clinical episodes, low-perfusion pulses, and expected missing-pulse intervals from a prepared read-only index. Only items intersecting the requested sample range are read. Dense point streams are clustered to keep the JSON response within max_items; intervals remain explicit.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: job_id, required: true, schema: {type: string}}
        - {in: query, name: case_id, required: true, schema: {type: string}}
        - {in: query, name: start_sample, required: false, schema: {type: integer, format: int64, minimum: 0, default: 0}}
        - {in: query, name: sample_count, required: true, schema: {type: integer, format: int64, minimum: 1}}
        - {in: query, name: max_items, required: false, schema: {type: integer, minimum: 1, maximum: 10000, default: 4000}}
      responses:
        '200':
          description: Time-window-bounded overlay items and available overlay kinds. A count greater than one denotes a clustered point marker spanning start_sample through end_sample.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SignalViewerOverlayWindow'}
        '400': {description: Invalid range, case, or item bound}
        '401': {description: Unauthorized}
        '404': {description: Job or retained artifact not found, including cross-organization access}
        '409': {description: Overlay index unavailable or invalid}
        '503': {description: Overlay source temporarily unreadable}
  /v1/artifacts/{package_id}/{filename}:
    get:
      summary: Download immutable manifest or ZIP
      description: Streams the retained immutable file. package.zip supports single byte ranges and browser resume without buffering the artifact in an Apache worker.
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: package_id, required: true, schema: {type: string}}
        - {in: path, name: filename, required: true, schema: {type: string, enum: [manifest.json, package.zip]}}
        - {in: header, name: Range, required: false, schema: {type: string}, example: 'bytes=0-1048575'}
      responses:
        '200':
          description: Artifact bytes
          headers:
            Accept-Ranges: {schema: {type: string, enum: [bytes]}}
            ETag: {schema: {type: string}}
            X-Checksum-SHA256: {schema: {type: string, pattern: '^[0-9a-f]{64}$'}}
            X-Artifact-Expires-At: {schema: {type: string, format: date-time}}
        '206': {description: Requested byte range with Content-Range}
        '416': {description: Invalid, multipart, or unsatisfiable byte range}
        '404': {description: Missing, expired, or cross-tenant artifact}
    head:
      summary: Read immutable artifact delivery metadata without a response body
      security: [{cookieAuth: []}, {bearerAuth: []}]
      parameters:
        - {in: path, name: package_id, required: true, schema: {type: string}}
        - {in: path, name: filename, required: true, schema: {type: string, enum: [manifest.json, package.zip]}}
      responses:
        '200':
          description: Artifact metadata
          headers:
            Content-Length: {schema: {type: integer, format: int64}}
            Accept-Ranges: {schema: {type: string, enum: [bytes]}}
            ETag: {schema: {type: string}}
            X-Checksum-SHA256: {schema: {type: string, pattern: '^[0-9a-f]{64}$'}}
            X-Artifact-Expires-At: {schema: {type: string, format: date-time}}
  /v1/usage:
    get:
      summary: Caller usage and limits
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Usage summary}
  /v1/metrics:
    get:
      summary: Owner/admin operational metrics
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Operational counters and worker heartbeat}
        '403': {description: Role forbidden}
  /v1/scenarios:
    get:
      summary: List caller-owned scenario drafts
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Scenario draft list including saved target_intent values}
    post:
      summary: Validate and create an editable scenario draft
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scenario, target_intent]
              properties:
                name: {type: string, maxLength: 100}
                scenario: {type: object}
                target_intent:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: {type: string}
                  description: User-selected verification goals inherited by custom pack composition.
              additionalProperties: false
      responses:
        '201': {description: Valid draft saved with fingerprint}
        '422': {description: Invalid draft saved with actionable validation errors}
  /v1/scenarios/{scenario_id}:
    parameters:
      - {in: path, name: scenario_id, required: true, schema: {type: string}}
    get:
      summary: Read caller-owned scenario draft
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Scenario draft}
        '404': {description: Missing or owned by another user}
    put:
      summary: Replace and revalidate scenario draft
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scenario, target_intent]
              properties:
                name: {type: string, maxLength: 100}
                scenario: {type: object}
                target_intent:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  items: {type: string}
              additionalProperties: false
      responses:
        '200': {description: Valid draft updated}
        '422': {description: Invalid draft updated with validation errors}
    delete:
      summary: Delete scenario draft
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Draft deleted}
        '404': {description: Missing or owned by another user}
  /v1/custom-packs:
    get:
      summary: List caller-owned immutable custom packs
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Custom pack list}
    post:
      summary: Compose a custom pack from valid owned scenario drafts
      security: [{cookieAuth: []}, {bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, description, targets, scenario_ids]
              properties:
                name: {type: string, maxLength: 100}
                description: {type: string}
                targets: {type: array, minItems: 1, items: {type: string}}
                scenario_ids: {type: array, minItems: 1, items: {type: string}}
              additionalProperties: false
      responses:
        '201': {description: Immutable custom pack created}
        '400': {description: Invalid, duplicate, non-owned, or invalid-status draft}
        '422': {description: Core pack analysis rejected one or more scenario-target combinations}
  /v1/custom-packs/{pack_id}:
    parameters:
      - {in: path, name: pack_id, required: true, schema: {type: string}}
    get:
      summary: Read caller-owned custom pack
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Custom pack}
        '404': {description: Missing or owned by another user}
    delete:
      summary: Hide custom pack while retaining immutable job snapshots
      security: [{cookieAuth: []}, {bearerAuth: []}]
      responses:
        '200': {description: Custom pack deleted}
        '404': {description: Missing or owned by another user}
